@model IEnumerable<Graduate_Project_1.Models.Profiles>

@{
    ViewData["Title"] = "User List";
}
<head>
    <link rel="stylesheet" href="~/css/userList.css"/> 
</head>





<div class="userListing">
    <div class="row">
        <div class="col"><h1>User Listing</h1></div>
        <div class="col createUser">
            <a asp-action="Create"><i class="fa-solid fa-plus"></i> Create New</a>    
        </div>
    </div>
    
    
@*    <div class="row">
        <div class="col">Users</div>
        <div class="col-md">@Html.DisplayNameFor(model => model.Surname)</div>
        <div class="col-lg">@Html.DisplayNameFor(model => model.DOB)</div>
        <div class="col-sm">@Html.DisplayNameFor(model => model.Age)</div>
        <div class="col-md">@Html.DisplayNameFor(model => model.Country)</div>
        <div class="col-md">@Html.DisplayNameFor(model => model.City)</div>
    </div>*@
    
    
@foreach (var item in Model) {
    <div class="row">
        <div class="col">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</div>
        <div class="col controls">
            <a asp-action="Edit" asp-route-id="@item.ID" title="Edit User"><i class="fa-regular fa-pen-to-square"></i></a>
            <a asp-action="Details" asp-route-id="@item.ID" title="View User Details"><i class="fa-regular fa-eye"></i></a>
            <a asp-action="Delete" asp-route-id="@item.ID" title="Delete User" class="delete"><i class="fa-regular fa-trash-can"></i></a>
        </div>
    </div>
}
</div>